
.bullet {
  display: 'inline-block';
  margin: '0 2px';
  transform: 'scale(0.8)';
}
.title {
  font-size: 14;
}
pos{
  margin-bottom: 12;
}

.root{
  
  display: "flex";
  flex-direction: column;
  justify-content: "space-around";
  overflow: "hidden";

}
gridList{
  width: 500;
  height: 450;
}

.LaunchList {
    height: 100vh;
    overflow: hidden auto;
    background-color: #ececec;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .LaunchList__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .LaunchList__item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #919191;
    cursor: pointer;
  }